{% load static %}

<p>NHM Administrator,</p>

<p>Thought you would like to know... the following organization has requested an account on the NHM Resource Map.
</p>
<p>
    <b>Organization Information</b><br/>
    Organization Name: {{ organization }}<br/>
    Organization Type: {{ organization_type }}<br/>
    {% if ein %}
    EIN: {{ ein }}<br/>
    {% endif %}
    Email: {{ email }}<br/>
    {% if phone %}
    Phone: {{ phone }}<br/>
    {% endif %}
    Website: {{ website }}<br/>
    Contact Name: {{ contact_name }}<br/>
</p>
<p>
</p>
<p>Yours Truly,</p>
<p>Nashville Hearts Team</p>
<p style="text-align:center;font-family:sans-serif;">
    <h4 style="text-align:center;color: #00458F;">Nashville Metro Human Relations Commission</h4>
</p>