{% load static %}

<p>Nice work {{ first_name }}!</p>

<p>You have saved {{ charity_name }} as a Favorite. By selecting nonprofits as Favorites,
    you can build a customized portfolio of nonprofits that matter the most to you.
</p>
<p>
    Since Forward It On has over 1 million nonprofits in our network, creating a customized portfolio is
    a simple way to monitor your favorite nonprofits.
</p>
<p style="text-align:center;">
    <a style="color: #008ee5;text-decoration:none;" href="{{ protocol }}{{request.get_host}}{% url 'donors_dashboard_page' 'favorites' %}">View Favorite Nonprofits</a>
</p>
<p>Thanks!</p>
<p>The Forward It On Team</p>
<p style="text-align:center;font-family:sans-serif;">
    <h4 style="text-align:center;color: #00458F;">Connecting People Who Care</h4>
    <h4 style="text-align:center;color: #00458F;">Corporate Giving &middot; Donors &middot; Non-Profits</h4>
</p>