{% load static %}

<p>Welcome to Nashville Hearts Me,</p>

<p>We are a convenient resource locator for Nashville area Non-profits, Governmental and Community organizations.
    We allow people in need to easily locate services that wonderful organizations yours offer the community.  By adding
    your profile to the Nashville Hearts Me Resource Map, you make it easier for members of your target audience to
    find you.
</p>
<p>Use the login credentials below to access the <a href="{{ request.get_protocol }}{{ request.get_web_client_url }}">Resource Map</a>
    <small>({{ request.get_protocol }}{{ request.get_web_client_url }})</small> and update your organization details.  The more information you provide the better.  Please save this information
    securely and do not share it with outside third parties.  For added security, we advise that you change your
    password once you've logged in.
</p>
<p>
    <b>Login Information</b><br/>
    Email: {{ email }}<br/>
    Password: {{ password }}<br/>
</p>
<p>
</p>
<p>Yours Truly,</p>
<p>Nashville Hearts Team</p>
<p style="text-align:center;font-family:sans-serif;">
    <h4 style="text-align:center;color: #00458F;">Nashville Metro Human Relations Commission</h4>
</p>