html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}
/*
    dark:   #282C35; ~ blueGrey900 - grey900 ??
    red:    #FF4A43; ~ red600 or red700
    blue:   #22ABD7; ~ blue500
*/

/*
    NAVBAR STYLES
*/
.wrapper {
    padding-top: 0px;
}
.brand {
    height: 100%;
    max-width: 190px;
}

.logo-stamp {
    margin: 10% auto;
    max-width: 400px;
    height: auto;
    text-align: center;
    padding: 10px;
}
.logo-stamp img {
    opacity: 0.95;
}
.logo-stamp .title-caption {
    color: #888;
    font-weight: 500;
    padding: 20px;
}
.logo-stamp .copyright {
    font-size: 11px;
    color: #888;
    opacity: 0.9;
    font-weight: 400;
}

